@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
body {
  margin: 0;
  background-color: #0b4448;
}

header {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 992px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1400px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}

main {
  padding: 20px 0;
}
@media only screen and (min-width: 992px) {
  main {
    padding: 20px 0px;
  }
}
@media only screen and (min-width: 1400px) {
  main {
    padding: 40px 0px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation .last-name-span {
  color: cyan;
}
.navigation .nav-menu-icon__elements--hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .navigation .nav-menu-icon {
    display: none;
  }
}
.navigation .nav-links {
  display: none;
}
.navigation .nav-links a {
  transition: color 0.25s ease-in-out;
}
.navigation .nav-links a:hover {
  color: cyan;
}
@media only screen and (min-width: 768px) {
  .navigation .nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
}

a {
  color: #FFE3D0;
  text-decoration: none;
  font-family: "DM Sans", "sans-serif";
}
@media only screen and (min-width: 1200px) {
  a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1400px) {
  a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1900px) {
  a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 2500px) {
  a {
    font-size: 28px;
  }
}

.heading {
  margin-top: 100px;
}
.heading .heading-span-phone {
  padding-bottom: 2.5%;
}
.heading .heading-span-phone__border {
  border-bottom: 8px solid cyan;
}
.heading .heading-span-phone__border--radius {
  border-radius: 5px;
}
@media only screen and (min-width: 1200px) {
  .heading .heading-span-phone {
    border-bottom: none;
  }
  .heading .heading-span {
    padding-bottom: 2%;
  }
  .heading .heading-span__border {
    border-bottom: 10px solid cyan;
  }
  .heading .heading-span__border--radius {
    border-radius: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .heading-paragraph {
    width: 75%;
  }
}
@media only screen and (min-width: 992px) {
  .heading-paragraph {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .heading-paragraph {
    width: 45%;
  }
}

#portfolioSection {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 992px) {
  #portfolioSection {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1400px) {
  #portfolioSection {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.grid-container {
  margin-top: 50px;
}
@media only screen and (min-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media only screen and (min-width: 2500px) {
  .grid-container {
    column-gap: 50px;
  }
}

.projects-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about-section {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-left: 20px;
  padding-right: 20px;
}
.about-section .phone-heading .about-phone-heading {
  padding-bottom: 2%;
}
.about-section .phone-heading .about-phone-heading__border {
  border-bottom: 2px solid cyan;
}
.about-section .phone-heading .about-phone-heading__border--radius {
  border-radius: 2px;
}
@media only screen and (min-width: 768px) {
  .about-section .phone-heading {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .about-section {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .about-section {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .about-section {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.article-section {
  display: flex;
  flex-direction: column-reverse;
}
.article-section .about-paragraphs {
  margin-top: 50px;
}
.article-section .about-paragraphs .desktop-heading {
  display: none;
}
.article-section .about-paragraphs .desktop-heading .about-desktop-heading {
  padding-bottom: 2%;
}
.article-section .about-paragraphs .desktop-heading .about-desktop-heading__border {
  border-bottom: 5px solid cyan;
}
.article-section .about-paragraphs .desktop-heading .about-desktop-heading__border--radius {
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  .article-section .about-paragraphs .desktop-heading {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .article-section .about-paragraphs {
    margin-top: 0px;
    margin-right: 30px;
    width: 75%;
  }
}
@media only screen and (min-width: 992px) {
  .article-section .about-paragraphs {
    width: 75%;
  }
}
.article-section .portfolio-image-section {
  margin: 0;
  margin-top: 50px;
}
.article-section .portfolio-image-section img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1400px) {
  .article-section .portfolio-image-section img {
    width: 75%;
  }
}
@media only screen and (min-width: 1400px) {
  .article-section .portfolio-image-section {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .article-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .article-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.personal-experience {
  padding-left: 20px;
  padding-right: 20px;
}
.personal-experience .collapsible-menus {
  display: flex;
  flex-direction: column;
}
.personal-experience .collapsible-menus h5 {
  margin: 0;
}
.personal-experience .collapsible-menus h5 .personal-heading {
  padding-bottom: 5px;
}
.personal-experience .collapsible-menus h5 .personal-heading__border {
  border-bottom: 5px solid cyan;
}
.personal-experience .collapsible-menus h5 .personal-heading__border--radius {
  border-radius: 5px;
}
@media only screen and (min-width: 992px) {
  .personal-experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .personal-experience {
    font-size: 36px;
    padding-left: 15%;
    padding-right: 15%;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer {
  margin-top: 100px;
  width: 100%;
  height: 15vh;
  background-color: rgba(13, 104, 105, 0.997);
}
.footer .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2%;
}
.footer img {
  height: 10vh;
}

.skills {
  padding-left: 20px;
  padding-right: 20px;
}
.skills h3 {
  margin: 0;
}
.skills .skills-icon-container {
  display: flex;
  justify-content: space-between;
  padding: 10% 0;
}
.skills .skills-icon-container img {
  width: 8%;
}
@media only screen and (min-width: 992px) {
  .skills {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.heading-colour {
  color: #FFE3D0;
}

h1 {
  font-size: 24px;
  font-family: "Red Hat Display", "sans-serif";
  width: auto;
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1900px) {
  h1 {
    font-size: 42px;
  }
}
@media only screen and (min-width: 2500px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-family: "Red Hat Display", "sans-serif";
  font-size: 65px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1900px) {
  h2 {
    font-size: 128px;
  }
}
@media only screen and (min-width: 2500px) {
  h2 {
    font-size: 168px;
  }
}

h3 {
  font-size: 32px;
  font-family: "Red Hat Display", "sans-serif";
}
@media only screen and (min-width: 1200px) {
  h3 {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1900px) {
  h3 {
    font-size: 54px;
  }
}

h4 {
  font-size: 29.5px;
  font-weight: 400;
  font-family: "Red Hat Display", "sans-serif";
}
@media only screen and (min-width: 1200px) {
  h4 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1900px) {
  h4 {
    font-size: 42px;
  }
}

h5 {
  font-size: 24px;
  font-weight: 700px;
  font-family: "Red Hat Display", "sans-serif";
}
@media only screen and (min-width: 1200px) {
  h5 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1400px) {
  h5 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1900px) {
  h5 {
    font-size: 36px;
  }
}

P {
  font-size: 16px;
  line-height: 25.6px;
  font-family: "DM Sans", "sans-serif";
  color: white;
}
@media only screen and (min-width: 1200px) {
  P {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1400px) {
  P {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1900px) {
  P {
    font-size: 24px;
  }
}
@media only screen and (min-width: 2500px) {
  P {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 2px;
  }
}

.collapsible-buttons {
  margin: 40px 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collapsible-buttons .collapsible {
  margin-bottom: 10px;
  width: 100%;
  padding: 20px 0;
  text-align: left;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid cyan;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: top ease 0.5s;
}
@media only screen and (min-width: 1400px) {
  .collapsible-buttons .collapsible {
    font-size: 16px;
  }
}
.collapsible-buttons .collapsible:hover {
  top: -10px;
  border-bottom: 1px solid #FFE3D0;
  cursor: pointer;
}

.react-buttons {
  margin-bottom: 50px;
}
.react-buttons .react-scss-buttons__design {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.react-buttons .react-scss-buttons__design--color {
  background-color: rgba(13, 104, 105, 0.997);
  color: white;
}
.react-buttons .react-scss-buttons__design--color:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px cyan, -2px -2px 10px cyan;
}

.project-card .project-info {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
.project-card .project-info h4 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.project-card .project-info h4 .project-number__border {
  border-bottom: 5px solid cyan;
}
.project-card .project-info h4 .project-number__border--radius {
  border-radius: 5px;
}
.project-card .project-image {
  width: 100%;
  padding-top: 56.25%;
  border-radius: 10px;
  background-color: rgba(13, 104, 105, 0.997);
}

.button-contact {
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: 2px solid cyan;
  padding: 25px 100px;
}
.button-contact__elements {
  cursor: pointer;
  top: 0;
  position: relative;
  transition: top ease 0.5s;
}
.button-contact__elements--hover:hover {
  top: -10px;
  box-shadow: 2px 2px 5px cyan, -2px -2px 5px cyan;
  color: #FFE3D0;
}
@media only screen and (min-width: 1900px) {
  .button-contact {
    padding: 50px 150px;
    font-size: 28px;
  }
}

.eye-code-buttons {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #0b4448;
}
.eye-code-buttons__radius {
  border-radius: 50%;
}
.eye-code-buttons__radius--colour:hover {
  box-shadow: 2px 2px 10px cyan, -2px -2px 10px cyan;
}
.eye-code-buttons .eye-code-icons {
  display: flex;
  background-color: #0b4448;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
