@use './media-mixins.scss';
@use './mixin.scss';
@import './variables.scss';

body {
    margin: 0;
    background-color: $primary-colour;
}

header {
    margin-top: 10px;

    @include mixin.padding-small;
    
    @include media-mixins.laptop{

        @include mixin.padding-medium;
    }
    
    @include media-mixins.desktop{
        
        @include mixin.padding-large;
    }

}

main {
    padding: 20px 0;

    @include media-mixins.laptop{
        padding: 20px 0px;
    }

    @include media-mixins.desktop{
        padding: 40px 0px;
    }
}