@use './media-mixins.scss';
@import './variables.scss';
body {
    margin: 0;
    background-color: $primary-colour;
    
    h1, h2, h3, h4, h5 {
        color: $heading-colour;
    }

    P {
        color: $paragraph-colour;
    }
    
}

header {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    @include media-mixins.laptop{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    @include media-mixins.desktop{
        // margin-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }

    @include media-mixins.large-desktopQHD{
        // margin-bottom: 100px;
    }

}

main {
    padding: 20px 0;

    @include media-mixins.laptop{
        padding: 20px 0px;
    }

    @include media-mixins.desktop{
        padding: 40px 0px;
    }
}

h1{
    font-size: 24px;
    font-family: $font-header-primary;
    width: auto;

    @include media-mixins.laptop-large{
        font-size: 36px;
    }

    @include media-mixins.large-desktop{
        font-size: 42px;
    }

    @include media-mixins.large-desktopQHD{
        font-size: 50px;
    }
}

h2 {
    font-family: $font-header-primary;
    font-size: 65px;
    font-weight: 400;

    @include media-mixins.tablet{
        font-size: 90px;
    }

    @include media-mixins.laptop-large{
        font-size: 100px;
    }

    @include media-mixins.desktop{
        font-size: 100px;
    }

    @include media-mixins.large-desktop{
        font-size: 128px;
    }
    
    @include media-mixins.large-desktopQHD{
        font-size: 168px;
    }
}

P {
    font-size: 16px;
    line-height: 25.6px;
    font-family: $font-paragraph;

    @include media-mixins.laptop-large{
        font-size: 18px;
    }

    @include media-mixins.desktop{
        font-size: 20px;
    }
    @include media-mixins.large-desktop{
        font-size: 24px;   
    }

    @include media-mixins.large-desktopQHD{
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 2px;
    }
}



a {
    color: $heading-colour;
    text-decoration: none;
    font-family: $font-paragraph;

    @include media-mixins.laptop-large{
        font-size: 18px;
    }

    @include media-mixins.desktop{
        font-size: 20px;
    }

    @include media-mixins.large-desktop{
        font-size: 24px;
    }

    @include media-mixins.large-desktopQHD{
        font-size: 28px;
    }
}

h3 {
    font-size: 32px;
    font-family: $font-header-primary;

    @include media-mixins.laptop-large{
        font-size: 48px;
    }

    @include media-mixins.large-desktop{
        font-size: 54px;   
    }
}

h4 {
    font-size: 29.5px;
    font-weight: 400;
    font-family: $font-header-primary;

    @include media-mixins.laptop-large{
        font-size: 36px;
    }

    @include media-mixins.large-desktop{
        font-size: 42px;
    }
}

h5 {
    font-size: 24px;
    font-weight: 700px;
    font-family: $font-header-primary;

    @include media-mixins.laptop-large{
        font-size: 28px;
    }

    @include media-mixins.desktop{
        font-size: 32px;
    }

    @include media-mixins.large-desktop{
        font-size: 36px;
    }
}