@use './media-mixins.scss';
@import './variables.scss';
.heading {
    margin-top: 100px;

    .heading-span-phone {
        padding-bottom: 2.5%;
        &__border {
            border-bottom: 8px solid $secondary-colour;

            &--radius {
                border-radius: 5px;
            }
        }
    }
    
    @include media-mixins.laptop-large {

        .heading-span-phone{
            border-bottom: none;
        }

        .heading-span {
            padding-bottom: 2%;
    
            &__border {
                border-bottom: 10px solid $secondary-colour;
                
    
                &--radius {
                    border-radius: 10px;
                }
            }
        }
    }
}

.heading-paragraph {


    @include media-mixins.tablet{
        width: 75%;
    }

    @include media-mixins.laptop{
        width: 50%;
    }

    @include media-mixins.desktop{
        width: 45%;
    }
}

    
