@use './media-mixins.scss';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;




    .last-name-span{
        color: cyan;
    }

    .nav-menu-icon {
        @include media-mixins.tablet{
            display: none;
        }
    }

    .nav-links {
        display:none;

        a {
            transition: color 0.25s ease-in-out;
        }
        a:hover {
            color: cyan;
            
        }

        @include media-mixins.tablet{
            display: flex;
            justify-content: space-between;
            width: 30%;
            
        }
    }
}