@use './media-mixins.scss';
.personal-experience {
    padding: 0px 20px;

    .collapsible-menus {
        display: flex;
        flex-direction: column;

        h5 {
            margin: 0;

            .personal-heading {
                padding-bottom: 5px;

                &__border {
                    border-bottom: 5px solid cyan;

                    &--radius {
                        border-radius: 5px;
                    }
                }
            }
        }

        .collapsible-buttons {
            margin: 40px 0;
            font-size: 16px;
            display: flex; 
            flex-direction: column;
            justify-content: space-between;

                .collapsible {
                    margin-bottom: 10px;
                    width: 100%;
                    padding: 20px 0;
                    text-align: left;
                    color: white;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid cyan;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    @include media-mixins.desktop{
                       font-size: 16px;
                    }
                }
        }

    }

    @include media-mixins.laptop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 100px;
        padding: 0 50px;
    }

    @include media-mixins.laptop-large{
        font-size: 36px;
        padding-left: 100px;
        padding-right: 100px;
    }

    @include media-mixins.desktop{
        padding-left: 15%;
        padding-right: 15%;
    }
}