@use './media-mixins.scss';
.grid-container {
    margin-top: 50px;

    @include media-mixins.large-phone{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .project-card {

        h4 {
            margin-top: 5px;
            margin-bottom: 100px;
        }
    }

    @include media-mixins.laptop-large{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include media-mixins.large-desktopQHD{
        column-gap: 50px;
    }
}

.project-image {
    height: 25vh;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(13, 104, 105, 0.997);

    @include media-mixins.large-desktopQHD{
        height: 30vh;
    }
}