@use './media-mixins.scss';
@use './mixin.scss';
@import './variables.scss';


#portfolioSection {
    @include mixin.padding-small;

    @include media-mixins.laptop{

        @include mixin.padding-medium;
    }

    @include media-mixins.desktop{

        @include mixin.padding-large;
    }

}

.grid-container {
    margin-top: 50px;

    @include media-mixins.large-phone{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .project-card {
        
        .project-info{
            margin: 5px;
            display: flex;
            justify-content: space-between;


            h4 {
                margin-top: 5px;
                margin-bottom: 10px;

                .project-number {

                    &__border {
                        border-bottom: 5px solid $secondary-colour;

                        &--radius {
                            border-radius: 5px;
                        }
                    }
                }
                    
            }
        }

        .project-image {
            width: 100%;
            padding-top: 56.25%;
            border-radius: 10px;
            background-color: $tertiary-colour;
        }
        
        .react-buttons {
            margin-bottom: 50px;
            
            .react-scss-buttons{
                
                &__design {
                    border: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    
                    &--color {
                        background-color: $tertiary-colour;
                        color: $paragraph-colour;
                    }
                }
            }
        }
    }   

    @include media-mixins.laptop-large{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include media-mixins.large-desktopQHD{
        column-gap: 50px;
    }
}

.projects-header {
    display: flex;
    gap: 10px;
    align-items: center;  
}
