@use './media-mixins.scss';
.grid-container {
    margin-top: 50px;

    @include media-mixins.large-phone{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .project-card {
        
        .project-info{
            margin: 5px;
            display: flex;
            justify-content: space-between;


            h4 {
                margin-top: 5px;
                margin-bottom: 10px;

                .project-number {

                    &__border {
                        border-bottom: 5px solid cyan;

                        &--radius {
                            border-radius: 5px;
                        }
                    }
                }
                    
            }
        }

        .project-image {
            height: 25vh;
            width: 100%;
            border-radius: 10px;
            background-color: rgba(13, 104, 105, 0.997);

            @include media-mixins.large-desktopQHD{
                height: 30vh;
            }
        }
        
        .react-buttons {
            margin-bottom: 50px;
            
            .react-scss-buttons{
                
                &__design {
                    border: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    
                    &--color {
                        background-color: rgba(13, 104, 105, 0.997);
                        color: white;
                    }
                }
            }
        }
    }   

    @include media-mixins.laptop-large{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include media-mixins.large-desktopQHD{
        column-gap: 50px;
    }
}

.projects-header {
    display: flex;
    gap: 10px;
    align-items: center;

        
}
