@use './media-mixins.scss';
@use './mixin.scss';

.skills {
    @include mixin.padding-small;

    h3 {
        margin: 0;
    }
    .skills-icon-container{
        display: flex;
        justify-content: space-between;
        padding: 10% 0;

        img {
            width: 8%;
        }
    }

    @include media-mixins.laptop{
        @include mixin.padding-medium;
    }

    @include media-mixins.laptop-large{
        @include mixin.padding-percentage;
    }
}