@use '../media-mixins.scss';
@import '../variables.scss';

.collapsible-buttons {
    margin: 40px 0;
    font-size: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

        .collapsible {
            margin-bottom: 10px;
            width: 100%;
            padding: 20px 0;
            text-align: left;
            color: $paragraph-colour;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $secondary-colour;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            position: relative;
            transition: top ease 0.5s;

            @include media-mixins.desktop{
               font-size: 16px;
            }
        }
        
        .collapsible:hover {
            top: -10px;
            border-bottom: 1px solid $heading-colour;
            cursor: pointer;
            
        }
}
