@use '../media-mixins.scss';
@import '../variables.scss';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .last-name-span{
        color: $secondary-colour;
    }

    .nav-menu-icon {

        &__elements {

            &--hover {
                
                cursor: pointer;
            }
        }

        @include media-mixins.tablet{
            display: none;
        }
    }

    .nav-links {
        display:none;

        a {
            transition: color 0.25s ease-in-out;
        }
        a:hover {
            color: $secondary-colour;
            
        }

        @include media-mixins.tablet{
            display: flex;
            justify-content: space-between;
            width: 30%;
            
        }
    }
}

a {
    color: $heading-colour;
    text-decoration: none;
    font-family: $font-paragraph;

    @include media-mixins.laptop-large{
        font-size: 18px;
    }

    @include media-mixins.desktop{
        font-size: 20px;
    }

    @include media-mixins.large-desktop{
        font-size: 24px;
    }

    @include media-mixins.large-desktopQHD{
        font-size: 28px;
    }
}